.Content{
    background-color: white;
    height: calc(100vh - 135px);
    text-align: center;
    padding-top: calc(80vh / 2);
}

.block{
    padding-top: 40px;
}

.title{
    font-size:xx-large;
}

.text
{
    font-size:large;
}
