.cblock{
    height: 200px;
}

.cblock .title{
    font-size:xx-large;
}

.rowblock{
    padding: 10px;
}

.textblock
{
    /* font-size:medium; */
    height: 110px;
    overflow: hidden; /* Обрезаем всё за пределами блока */
    display: -webkit-box;
    -webkit-line-clamp: 5;
     -webkit-box-orient: vertical;
    text-overflow: ellipsis; /* Добавляем многоточие */
}


.block{
    padding-top: 40px;
  }
  
  .title{
    font-size:xx-large;
  }
  