.Content{
    background-color: white;
    /* height: calc(100vh - 135px); */
}

.titlesBlock{
    padding-left: 10px;
    margin-top: 20px;
}

.block{
    padding-top: 30px;
    padding-left: 10px;
}


.content{
    background-color: white;
    /* padding-bottom: 25px;
    padding-top: 5px; */
    /* height: calc(100vh - 135px); */
    min-height: calc(100vh - 135px);
}

.img{
    width: 100%;
    object-fit:contain;
    object-position: 50% 50%; 
    }
  
  .imgbox{

  }