
  
  .titlesBlock{
    font-size:xx-large;
    color:#065cad
  }
  
  .lastBlock{
    background-color: white;
    padding-bottom: 30px;
  }

  .block{
    margin-top: 30px;
  }

  /* .block{
    padding-top: 40px;
  }
  
  .title{
    font-size:xx-large;
  }
  
  .text
  {
    font-size:large;
  }
   */