@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.logo{
  width: 60px;
  height: 60px;
}

.phone{
  color: white;
}

header{
  margin-bottom: 40px;
}

.site-layout-content {
  min-height: 1200px;
  padding: 24px;
  background: #fff;
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}